* {
    margin: 0px;
    padding: 0px;
}

html {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    height: 100%;
    width: 100%;
    display: flex;
    /* background: #000; */
    /* background: #000; */
}

:root {
    --ancho-lineas: 3px;
}

canvas {
    position: absolute;
    background: url('./remote.jpg');
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}


.container {
    position: relative;
}
button {
    position: absolute;
    padding: 15px 20px;
    top: 90%;
    border-radius: 8px;
    cursor: pointer;
    outline: none;
    border: none;
    color: white;
    background-color: rgb(12, 190, 255);
}



.ball {
    position: absolute;
    top: 50%;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
}




